.form_wrapper {
        width: 100%;
}
.form_wrapper > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    width: 30%;
    padding: 1rem;
}

.form_wrapper > form > input {
    height: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.button_wrapper {
    text-align: end;
}

.search_button {
    width: 20%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.footer {
    width: 100%;
}

.footer > div {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
